<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- https://picocss.com/docs/classless#usage -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Netteier Navn AS | Nettleie</title>
    <style>
      dt {
        clear: both;
        float: left;
        margin-right: 1em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <header class="container">
      <h1>Netteier Navn AS</h1>
    </header>
    <main class="container">
      <h2>Informasjon om netteieren</h2>
      <dl>
        <dt
          data-tooltip="Global Location Number brukes for å identisere netteier"
        >
          GLN<span></span>
        </dt>
        <dd>7080004122741</dd>
        <dt data-tooltip="Organisasjonsnummer">Org</dt>
        <dd>
          <a href="https://virksomhet.brreg.no/nb/oppslag/enheter/984882106"
            >984882106</a
          >
        </dd>
        <dt data-tooltip="Fylkene som netteier er konsesjonær i">Fylker</dt>
        <dd>Oslo, Oslo</dd>
        <dt>Sist oppdatert</dt>
        <dd>2024-11-22</dd>
      </dl>
      <article>
        <header>❕Innsamlet på dugnad</header>
        <p>Informasjonen under er samlet inn på dugnad. Dersom du finner feil kan du selv hjelpe oss med å oppdatere informasjonen. Les her for hvordan du bidrar.</p>
      </article>
      <h2>Tariffer</h2>
      <p>Netteier Navn AS har 2 aktive tariffer for private kunder.</p>
      <p>
        For å finne ut av hvilken tariff har kan du logge inn på
        <a href="https://minside.elhub.no">Elhub Min Side</a> for å finne ditt
        nettavregningsområde.
      </p>

      <p>Tariffene har vi samlet inn fra 2 kilder:</p>
      <ul>
        <li><a href="">https://aoisda.no/joijasd</a></li>
        <li><a href="">https://aoisda.no/kk/iuh/123/assp.pdf</a></li>
      </ul>
      <details>
        <summary role="button" open>Tariff Sør</summary>

        <dl>
          <dt>Gyldig fra</dt>
          <dd>2024-01-01</dd>
          <dt>Gyldig til</dt>
          <dd>-</dd>
        </dl>
        <p>
          Denne tariffen gjelder for nettavregningsområde
          <abbr data-tooltip="50Y123123145">HSFL1</abbr>,
          <abbr data-tooltip="50Y123123145">ALEX1</abbr>
          .
        </p>
      <article>
        <h4>Fastledd</h4>
        <p>Fastleddet lorem ipsum noe informasjon</p>
        <p>Beregnes ut fra <a href="#">3 døgnmaks den siste måneden</a>.</p>
        <h5>Terskler</h5>
        <p>
          Netteieren inkluderer <b>ikke</b> terskelen i det nye nivået. Det vil
          si at dersom du havner akkurat på selve terskelen, ender du på nivået
          under.
        </p>
        <p>
          Prisen vises uten og med de forskjellige avgiftene på nettleie. Se
          informasjon om avgifter på
          <a href="#avgifter">vår side om avgifter</a>.
        </p>
        <table>
          <tr>
            <th>Terskel</th>
            <th>Pris u/ mva</th>
            <th>Pris m/ mva</th>
          </tr>
          <tr>
            <td>1</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
      </article>
        <article>

          <h4>Energiledd</h4>

        <p>
          Energiledd er prisen per
          <span
            data-tooltip="Kilowattime er energimengden vi måler strømforbruket i."
            >kWh</span
          >. Lorem ipsum noe mer. Les mer på
          <a href="#">vår side om tariffene</a>.
        </p>
        <h5>Grunnpris</h5>
        <p>
          Grunnprisen er standardprisen prisen du betaler. Det er typisk den
          lave prisen som er på natta eller andre perioder når nettet har lav
          last, men trenger ikke være det.
        </p>
        <dl>
          1
          <span data-tooltip="Prisen uten enova-, el- eller merverdiavgift."
            >øre u/ alle avgifter</span
          ><br />
          2
          <span
            data-tooltip="Prisen med enovaavgift. Relevant for sluttkunder i tiltakssonen i Nord-Norge."
            >øre m/ enovaavgift</span
          ><br />
          45.1
          <span
            data-tooltip="Prisen med enovaavgift. Relevant for sluttkunder i tiltakssonen i Nord-Norge."
            >øre m/ enova og elavgift</span
          ><br />
          3.1
          <span
            data-tooltip="Prisen med enova-, el- og merverdiavgift. Relevant for sluttkunder Troms."
            >øre m/ alle avgifter</span
          ><br />
        </dl>
        <h5>Unntak</h5>
        <p>
          Unntak er tidsrom du betaler for en eller flere dager. Lorem ipsum noe
          mer. Les mer på <a href="#">vår side om tariffene</a>.
        </p>
        <h6>1 - Høylast</h6>
        <p>Denne prisen gjelder for:</p>
        <dl>
          <dt>Dager</dt>
          <dd>helg</dd>
          <dt>Måneder</dt>
          <dd>januar, februar</dd>
          <dt>Timer</dt>
          <dd>6-21</dd>
        </dl>
        <p>Du betaler</p>
        <dl>
          1
          <span data-tooltip="Prisen uten enova-, el- eller merverdiavgift."
            >øre u/ alle avgifter</span
          ><br />
          2
          <span
            data-tooltip="Prisen med enovaavgift. Relevant for sluttkunder i tiltakssonen i Nord-Norge."
            >øre m/ enovaavgift</span
          ><br />
          45.1
          <span
            data-tooltip="Prisen med enovaavgift. Relevant for sluttkunder i tiltakssonen i Nord-Norge."
            >øre m/ enova og elavgift</span
          ><br />
          3.1
          <span
            data-tooltip="Prisen med enova-, el- og merverdiavgift. Relevant for sluttkunder Troms."
            >øre m/ alle avgifter</span
          ><br />
        </dl>
      </article>
      </details>

    </main>
  </body>
</html>
